body {
  background-color: #000;
  color: #0af0af;
  font-family: 'PixelOperator', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

* {
  font-family: inherit;
}

*::selection {
  color: #000000;
  background-color: #0af0af80;
}

#terminal {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5%;
}

.prompt {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.self-response {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 0.5rem;
}

.self-response .bubble {
  color: #000000;
  background-color: #0af0af;
  padding: 0.4rem 0.6rem;
  max-width: 70%;
  min-width: 4rem;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  word-wrap: break-word;
  margin-bottom: 0.2rem;
}

.self-response .label {
  font-size: 12px;
  color: #888;
  margin-right: 10px;
}

#input {
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  color: #0af0af;
}

#progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #666;
}

#progress {
  height: 4px;
  width: 0%;
  background-color: #0af0af;
}

/* src/public/styles/fonts.css */
@font-face {
  font-family: 'PixelOperator';
  src: url('public/pixel_operator/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator';
  src: url('public/pixel_operator/PixelOperator-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator8';
  src: url('public/pixel_operator/PixelOperator8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator8';
  src: url('public/pixel_operator/PixelOperator8-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorHB';
  src: url('public/pixel_operator/PixelOperatorHB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorMono';
  src: url('public/pixel_operator/PixelOperatorMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorMono';
  src: url('public/pixel_operator/PixelOperatorMono-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorMono8';
  src: url('public/pixel_operator/PixelOperatorMono8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorMono8';
  src: url('public/pixel_operator/PixelOperatorMono8-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorMonoHB';
  src: url('public/pixel_operator/PixelOperatorMonoHB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorSC';
  src: url('public/pixel_operator/PixelOperatorSC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorSC';
  src: url('public/pixel_operator/PixelOperatorSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.pixel-operator-mono {
  font-family: 'PixelOperatorMono', sans-serif;
  text-rendering: geometricPrecision;
}

.pixel-operator-mono-bold {
  font-family: 'PixelOperatorMono', sans-serif;
  font-weight: bold;
  text-rendering: geometricPrecision;
}
