body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000 ;
  
  }
  
  #bp0mask {
    width: 100%;
    height: 100vh;
    background-color: #0af0af ;
    display: block;
    margin: 0 auto;
    -webkit-mask-composite: xor;
    -webkit-mask: url("public/masks/full-on.svg") center / 100% no-repeat;
  }
  
  #bp0mask.hiRes {
    -webkit-mask: url("public/masks/80x80-dots.svg") center / 100% no-repeat;
  }

  #bp0mask.happy {
    -webkit-mask: url("public/masks/happy-face.svg") center / 100% no-repeat;
  }
  
  #bp0mask.neutral {
    -webkit-mask: url("public/masks/neutral-face.svg") center / 100% no-repeat;
  }
  
  #bp0mask.surprise {
    -webkit-mask: url("public/masks/surprise-face.svg") center / 100% no-repeat;
  }
  
  #bp0mask.unsure {
    -webkit-mask: url("public/masks/unsure-face.svg") center / 100% no-repeat;
  }